:root {
  --bg-color: #200035;
  --primary-color: #200035;
  --secondary-color: #f1aa7b;
  --text-color: #f1aa7b;
  --text-color-2: #f1aa7b;
  --overlay-color: rgb(0, 0, 0);
}

[data-theme="light"] {
  --bg-color: #f1aa7b;
  --primary-color: #f1aa7b;
  --secondary-color: #200035;
  --text-color: #200035;
  --text-color-2: #200035;
  --overlay-color: rgb(255 255 255 / 100%);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: visible;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Nunito', 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  padding-top: 60px;
  border-left: 10px solid var(--primary-color);
  border-right: 10px solid var(--primary-color);
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Nunito;
}

a,
a:hover {
  color: var(--text-color);
}

p {
  word-break: break-word;
  hyphens: auto;
}

.ovhidden {
  overflow: hidden;
}

.text_2,
.text_2:hover {
  color: var(--text-color-2);
}

code {
  font-family: source-code-pro, Nunito, 'Segoe UI', monospace;
}

.cursor__dot div {
  z-index: 999999 !important;
}

.cursor__dot div:last-child {
  filter: invert(1);
  background-color: var(--primary-color) !important;
}

.cursor__dot div:first-child {
  filter: invert(1);
  background-color: var(--overlay-color) !important;
}

.color_pr {
  color: var(--primary-color) !important;
}

.color_sec {
  color: var(--secondary-color);
}